@keyframes zoomUp {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes custom-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

[data-aos="custom-rotate"] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos="custom-rotate"].aos-animate {
    opacity: 1;
    transform: rotate(360deg);
}

@keyframes custom-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

[data-aos="custom-fadeIn"] {
    transition-property: opacity, transform;
    opacity: 0;
}

[data-aos="custom-fadeIn"].aos-animate {
    opacity: 1;
}


@keyframes custom-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

[data-aos="custom-fadeInUp"] {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
}

[data-aos="custom-fadeInUp"].aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@keyframes custom-fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

[data-aos="custom-fadeInLeft"] {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translateX(-20px);
}

[data-aos="custom-fadeInLeft"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}


@keyframes custom-fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

[data-aos="custom-fadeInRight"] {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translateX(20px);
}

[data-aos="custom-fadeInRight"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

@keyframes custom-overlaySlideLeft {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

[data-aos="custom-overlaySlideLeft"] {
    transition-property: width;
    width: 100%;
}

[data-aos="custom-overlaySlideLeft"].aos-animate {
    width: 0;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        position: fixed;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        position: fixed;
        top: var(--wp-admin--admin-bar--height, 0px);
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
        position: fixed;
        top: var(--wp-admin--admin-bar--height, 0px);
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
        position: fixed;
        top: 0;
    }
}

@keyframes zoomUp {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes marquee-left {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes custom-blur-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        filter: blur(100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        filter: blur(0);
    }
}

[data-aos="custom-blur-fadeInUp"] {
    transition-property: opacity, transform filter;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    filter: blur(100px);
}

[data-aos="custom-blur-fadeInUp"].aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    filter: blur(0);
}

@keyframes nyainy-btn {
    0% {
        left: -100%;
    }

    25% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes custom-fadeInBlur {
    from {
        opacity: 0;
        filter: blur(100px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

[data-aos="custom-fadeInBlur"] {
    transition-property: opacity, transform filter;
    opacity: 0;
    filter: blur(100px);
}

[data-aos="custom-fadeInBlur"].aos-animate {
    opacity: 1;
    filter: blur(0);
}

@keyframes custom-bg {
    0% {
        opacity: 0;
        transform: scaleX(0) translateX(-5%);
    }

    30% {
        transform: scaleX(1) translateX(0);
    }

    100% {
        transform: scaleX(1) translateX(0);
    }

    30%,
    100% {
        opacity: 1;
    }
}

[data-aos="custom-bg"] {
    transition-property: opacity, transform;
    opacity: 0;
    transform: scaleX(0) translateX(-5%);
    transform-origin: left center;
}

[data-aos="custom-bg"].aos-animate {
    opacity: 1;
    transform: scaleX(1) translateX(0);
}

@keyframes custom-underbar {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }
}

[data-aos="custom-underbar"] {
    transition-property: width;
    width: 0;
}

[data-aos="custom-underbar"].aos-animate {
    width: 100px;
}