@use "../global/scss-variables" as global;

.footer {}

.footer-sns {}

.footer-sns-main {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1.5rem;
    }

    &__item {}

    &__link {
        display: block;
        transform: .3s;

        &:hover {
            filter: brightness(1.2);
        }

        svg{
            fill: var(--primary-color);
        }
    }
}

.footer-logo {}

.footer-logo-main {
    &__link {
        display: block;
        transition: .3s;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        width: var(--footer-logo-width-pc);

        @media #{global.$max-lg} {
            width: var(--footer-logo-width-sp);
        }
    }
}

.footer-nav {
    border-top: 1px solid var(--primary-contrast-color);
    border-bottom: 1px solid var(--primary-contrast-color);

    &__inner {
        @media #{global.$max-md} {
            padding-block: 4rem;
        }
    }
}

.footer-nav-main {
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 4rem;
        row-gap: 1rem;

        @media #{global.$max-md} {
            flex-wrap: wrap;
            margin-bottom: 0.5rem;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
        }

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    &__item {}

    &__link {
        color: var(--primary-contrast-color);
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-family: var(--en-font-family);

        @media #{global.$max-md} {
            font-weight: 900;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-copyright {
    &__inner {}
}

.footer-copyright-main {
    &__copyright {
        text-align: center;
        font-size: 12px;
        line-height: 1;
        letter-spacing: .2em;
        color: var(--primary-contrast-color);
        font-family: var(--en-font-family);

        @media #{global.$max-md} {
            font-size: 11px;
        }
    }
}