@use "../global/scss-variables" as global;

.front-fv {
    &__inner {
        min-height: 655px;
        max-height: 750px;
        height: var(--front-fv-img-height, calc(100vh - var(--header-height)));
        position: relative;
        padding-block: 1.5rem;
        max-width: 2000px;
        margin: 0 auto;

        @media #{global.$max-md} {
            min-height: 468px;
            max-height: none;
            height: auto;
            padding-block: 0;

        }
    }
}

.front-fv-main {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;

    @media #{global.$max-md} {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

.front-fv-txt {
    padding-left: 4rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;

    @media #{global.$max-md} {
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-block: 1.75rem;
    }

    &__en-tit {
        font-weight: 900;
        font-size: 92px;
        line-height: 1;
        letter-spacing: var(--base-letter-spacing);
        font-family: var(--en-font-family);
        margin-bottom: 0.5rem;

        @media #{global.$max-md} {
            font-size: 39px;
            margin-bottom: 1.5rem;
        }
    }

    &__jp-tit {
        font-weight: 800;
        font-size: 16px;
        line-height: 1;
        letter-spacing: .2em;
    }
}

.front-fv-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // height: 100%;
    width: 67.5%;

    @media #{global.$max-md} {
        position: static;
        width: 100%;
        transform: none;
    }

    &__list-wrapper {
        height: 100%;
    }

    &__list {}

    &__item {}

    &__img {
        display: block;
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
    }
}

.front-about {
    &__inner {
        @media #{global.$max-md} {
            padding-block: 2.5rem;
        }
    }
}

.front-about-main {
    display: flex;
    gap: 3.5rem;

    @media #{global.$max-md} {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

.front-about-txt {
    width: calc(50% - 3.5rem);

    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    @media #{global.$max-md} {
        width: 100%;
    }

    &__tit {
        line-height: 1.2;
        margin-bottom: 0;
        text-align: left;
    }

    &__txt-area {
        display: grid;
        gap: 0.5rem;
    }

    &__txt {
        @media #{global.$max-md} {
            font-size: 14px;
        }
    }

    &__btn-area {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        @media #{global.$max-md} {
            justify-content: center;
        }
    }

    &__btn {}
}

.front-about-img {
    width: 50%;
    padding-top: 0.5rem;

    @media #{global.$max-md} {
        width: 100%;
    }

    &__img {}
}

.front-services {}

.front-services-tit-box {}

.front-services-main {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @media #{global.$max-md} {
            gap: 1.5rem;
        }
    }
}

.front-services-box {
    padding: 3rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;

    @media #{global.$max-md} {
        flex-direction: column;
        gap: 2.5rem;
    }

    @media #{global.$max-md} {
        padding: 2rem 1rem;
    }

    &:nth-of-type(2n - 1) {
        background: var(--tertiary-color);
        color: var(--tertiary-contrast-color);
    }

    &:nth-of-type(2n) {
        color: var(--secondary-contrast-color);
        background: var(--secondary-color);
        flex-direction: row-reverse;

        @media #{global.$max-md} {
            flex-direction: column;
        }
    }
}

.front-services-txt {
    width: calc(50% - 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media #{global.$max-md} {
        width: 100%;
        gap: 1.5rem;
    }

    &__tit-area {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media #{global.$max-md} {
            gap: 0.5rem;
        }
    }

    &__en-tit {
        font-size: 40px;
        font-weight: 900;
        letter-spacing: var(--base-letter-spacing);
        font-family: var(--en-font-family);
        line-height: 1;

        @media #{global.$max-md} {
            font-size: 30px;
        }
    }

    &__jp-tit {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: .1em;

        @media #{global.$max-md} {
            font-size: 16px;
        }
    }

    &__txt {
        font-size: 14px;
        letter-spacing: .1em;
    }
}

.front-services-img {
    width: 50%;

    @media #{global.$max-md} {
        width: 100%;
    }
}

.front-img {}

.front-img-main {
    &__img {
        display: block;
        width: 100%;
        height: 640px;
        object-fit: cover;

        @media #{global.$max-md} {
            height: 186px;
        }
    }
}

.front-news {
    &__inner {
        @media #{global.$max-md} {
            padding-block: 2.5rem;
        }
    }
}

.front-news-main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    gap: 1.5rem;

    &__btn-area {
        display: flex;
        justify-content: center;
    }

    &__btn-link {}
}

.front-company {
    @media #{global.$max-md} {
        background: var(--secondary-color);
        position: relative;
        z-index: 1;
    }

    &__inner {}
}

.front-company-bg {
    &__img {
        display: block;
        width: 100%;
        height: 640px;
        object-fit: cover;

        @media #{global.$max-md} {
            height: 186px;
        }
    }
}

.front-company-main {
    background: var(--secondary-color);
    color: var(--secondary-contrast-color);
    padding: 2.5rem;

    position: relative;
    margin-top: -3.75rem;

    @media #{global.$max-md} {
        margin-top: 0;
        padding: 0;
        padding-block: 2.5rem;
    }
}

.front-company-detail {
    display: flex;
    gap: 2.5rem;

    @media #{global.$max-md} {
        flex-direction: column;
    }
}

.front-company-table {
    width: calc(100% - 344px - 2.5rem);

    @media #{global.$max-md} {
        width: 100%;
    }

    table {
        width: 100%;
    }

    tr {
        border-top: 1px solid var(--base-border-color);

        @media #{global.$max-md} {
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

        &:nth-last-of-type(1) {
            border-bottom: 1px solid var(--base-border-color);
        }
    }

    th,
    td {
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        padding-block: 1rem;

        @media #{global.$max-md} {
            padding: 0;
        }
    }

    th {
        text-align: left;
        letter-spacing: .1em;
        vertical-align: top;
        padding-inline: 1rem;
        min-width: 144px;

        @media #{global.$max-md} {
            font-weight: 700;
            padding: 0;
        }
    }

    td {}
}

.front-company-map {
    width: 344px;

    @media #{global.$max-md} {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}